:root{
	--xtitle-background:#96CDCD;
	--xwindow-background:aqua;
}
xwindow{
	position: absolute;
	width: 55%;
	height: 70%;
	background-color: var(--xwindow-background);
	top: 10%;
	left: 20%;
	border-radius: 15px;
	border-style: solid;
	border-width: 0.4px;
	border-color: #85cd64;
}
xtitle{
	position: absolute;
	height: 7%;
	width: 90%;
	text-align: center;
	background-color: var(--xtitle-background);
	font-size: 150%;
	border-radius: 15px 0px 0px 0px;
}
xtitle::selection{
	background-color: var(--xtitle-background);
}
xtitle:hover{
	cursor: default;
	user-select: none;
}
xclose{
	position: absolute;
	right: 0;
	width: 10%;
	height: 7%;
	border-radius: 0px 15px 0px 0px;
	background-color: var(--xtitle-background);
}
xclose>.xcloser:hover{
	background-color: red;
}
xclose>.xcloser{
	border-radius: 0px 15px 0px 0px;
}
xclose>.xsmaller:hover{
	background-color: #a7e3e3;
}
xclose>.xcloser:hover svg path{
	fill: white;
}
xclose>div{
	width: 50%;
	height: 100%;
	float:left;
}
xbody{
	position: absolute;
	width: 96%;
	height: 90%;
	top: 8%;
	left: 2%;
}
xwindow.move{
	background-color: #FF0000;
}